<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>ADUSServlet</servlet-name>
    <servlet-class>com.ADUSsystem.ADUSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADUSServlet</servlet-name>
    <url-pattern>/ADUSsystem/ADUSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchStudentServlet</servlet-name>
    <servlet-class>com.ADUSsystem.BusinessLayer.SearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentServlet</servlet-name>
    <url-pattern>/ADUSsystem/SearchStudentServlet</url-pattern>
  </servlet-mapping>
</web-app>